<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VRaygel Full-stack developer</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/rv.svg">
	<link rel="icon" type="image/png" sizes="32x32" href="img/rv.svg">
	<link rel="icon" type="image/png" sizes="16x16" href="img/rv.svg">
	<link rel="manifest" href="img/site.webmanifest">
	<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="preload" href="img/raygel.jpg" as="image">

	<!-- SEO Meta Tags -->
	<meta name="description"
		content="VRaygel - Full-stack developer. Создаю потрясающие веб-сервисы. HTML, CSS, JS, REACT.">
	<meta name="keywords"
		content="VRaygel, Full-stack developer, веб-разработчик, HTML, CSS, JS, REACT, JavaScript, Екатеринбург, разработка сайтов">
	<meta name="author" content="VRaygel">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://vraygel.ru/">
	<meta property="og:title" content="VRaygel Full-stack developer">
	<meta property="og:description"
		content="VRaygel - Full-stack developer. Создаю потрясающие веб-сервисы. HTML, CSS, JS, REACT.">
	<meta property="og:image" content="https://vraygel.ru/img/raygel.jpg">

	<!-- Styles -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date();
			for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
			k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(101409334, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true
		});
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/101409334" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->
</head>

<body class="body">
		<header class="header">
		<div class="header__inner">
			<div class="header__container">
				<div class="header__logo-wrapper">
					<a class="header__logo" href="/">
						<svg class="header__logo-svg" id="Layer_1" data-name="Layer 1" fill="#fff"
						xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 790.52" aria-label="Логотип VRaygel">
							<path d="M253.77,790.52,0,0H142.11L308.34,554,463.14,0H601.45L350.21,790.52Z" />
							<path
								d="M830,447.92a216.84,216.84,0,0,0,78.66-52A254.9,254.9,0,0,0,960,318.49q18.38-43.12,18.4-86.28,0-69.77-29.19-122.44T858.52,28.55Q796.95,0,699.27,0H465l60.34,124.43H594v-.07H709.43q40.58,0,67.88,15.22t40.6,40Q831.24,204.3,831.24,236q0,49.48-30.46,78T709.43,342.6H631.16L689,461.87h.12L849,790.52h151Z" />
						</svg>
						<span class="header__logo-span">aygel</span>
					</a>
				</div>
				<nav class="header__navigation">
					<ul class="header__menu header__menu-inner">
						<!-- <li class="header__menu-item" aria-label="Переход на страницу хостинга">
							<a class="header__menu-link" href="/" aria-current="page">Hosting</a>
						</li> -->
						<!-- <li class="header__menu-item" aria-label="Переход на страницу блога">
							<a class="header__menu-link" href="/">Blogs</a>
						</li> -->
					</ul>
					<!-- <div class="search">
						<input class="search__input" type="search" name="search" id="search">
					</div> -->
					<div class="burger-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
						<ul class="header__menu header__menu-social" aria-label="Ссылки на социальные сети">
							<li class="header__menu-item" aria-label="Переход на страницу GitHub">
								<a class="header__menu-link header__menu-icon header__menu-link-github" href="https://github.com/Vraygel"
									target="_blank" rel="noopener noreferrer">
								<p>GitHub</p>
							</a>
						</li>
						<li class="header__menu-item" aria-label="Переход на страницу Telegram">
							<a class="header__menu-link header__menu-icon header__menu-link-telegram" href="https://t.me/vraygel"
								target="_blank" rel="noopener noreferrer">
								<p>Telegram</p>
							</a>
						</li>
						<li class="header__menu-item" aria-label="Переход на страницу WhatsApp">
							<a class="header__menu-link header__menu-icon header__menu-link-whatsapp"
								href="https://wa.me/+79678596474" target="_blank">
								<p>WhatsApp</p>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header__nav-wrapper">
			<nav class="header-menu">
				<ul class="header-menu__list" aria-label="Навигация по сайту">
					<li class="header-menu__item" aria-label="Переход на главную страницу">
						<a class="header-menu__link" href="#">
							<svg class="header-menu__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M3 2C2.44772 2 2 2.44772 2 3V10C2 10.5523 2.44772 11 3 11H10C10.5523 11 11 10.5523 11 10V3C11 2.44772 10.5523 2 10 2H3ZM4 9V4H9V9H4Z"
									fill="#fff" />
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M14 2C13.4477 2 13 2.44772 13 3V10C13 10.5523 13.4477 11 14 11H21C21.5523 11 22 10.5523 22 10V3C22 2.44772 21.5523 2 21 2H14ZM15 9V4H20V9H15Z"
									fill="#fff" />
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M13 14C13 13.4477 13.4477 13 14 13H21C21.5523 13 22 13.4477 22 14V21C22 21.5523 21.5523 22 21 22H14C13.4477 22 13 21.5523 13 21V14ZM15 15V20H20V15H15Z"
									fill="#fff" />
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M3 13C2.44772 13 2 13.4477 2 14V21C2 21.5523 2.44772 22 3 22H10C10.5523 22 11 21.5523 11 21V14C11 13.4477 10.5523 13 10 13H3ZM4 20V15H9V20H4Z"
									fill="#fff" />
							</svg>
							<span class="header-menu__text">Домой</span>
						</a>
					</li>
					<li class="header-menu__item" aria-label="Переход на страницу обо мне">
						<a class="header-menu__link" href="#about">
							<svg class="header-menu__icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2ZM9 7C9 5.34315 10.3431 4 12 4C13.6569 4 15 5.34315 15 7C15 8.65685 13.6569 10 12 10C10.3431 10 9 8.65685 9 7Z"
									fill="#fff" />
								<path class="header-menu__icon"
									d="M8 14C6.67392 14 5.40215 14.5268 4.46447 15.4645C3.52678 16.4021 3 17.6739 3 19V21C3 21.5523 3.44772 22 4 22C4.55228 22 5 21.5523 5 21V19C5 18.2043 5.31607 17.4413 5.87868 16.8787C6.44129 16.3161 7.20435 16 8 16H16C16.7956 16 17.5587 16.3161 18.1213 16.8787C18.6839 17.4413 19 18.2044 19 19V21C19 21.5523 19.4477 22 20 22C20.5523 22 21 21.5523 21 21V19C21 17.6739 20.4732 16.4021 19.5355 15.4645C18.5979 14.5268 17.3261 14 16 14H8Z"
									fill="#fff" />
							</svg>
							<span class="header-menu__text">About Me</span>
						</a>
					</li>
					<li class="header-menu__item" aria-label="Переход на страницу навыков">
						<a class="header-menu__link" href="#skills">
							<svg class="header-menu__icon" width="22" height="14" viewBox="0 0 22 14" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path class="header-menu__icon"
									d="M7.70711 1.70711C8.09763 1.31658 8.09763 0.683417 7.70711 0.292893C7.31658 -0.0976311 6.68342 -0.0976311 6.29289 0.292893L0.292893 6.29289C-0.0976311 6.68342 -0.0976311 7.31658 0.292893 7.70711L6.29289 13.7071C6.68342 14.0976 7.31658 14.0976 7.70711 13.7071C8.09763 13.3166 8.09763 12.6834 7.70711 12.2929L2.41421 7L7.70711 1.70711Z"
									fill="#fff" />
								<path class="header-menu__icon"
									d="M15.7071 0.292893C15.3166 -0.0976311 14.6834 -0.0976311 14.2929 0.292893C13.9024 0.683417 13.9024 1.31658 14.2929 1.70711L19.5858 7L14.2929 12.2929C13.9024 12.6834 13.9024 13.3166 14.2929 13.7071C14.6834 14.0976 15.3166 14.0976 15.7071 13.7071L21.7071 7.70711C22.0976 7.31658 22.0976 6.68342 21.7071 6.29289L15.7071 0.292893Z"
									fill="#fff" />
							</svg>
							<span class="header-menu__text">Skills</span>
						</a>
					</li>
					<li class="header-menu__item" aria-label="Переход на страницу работ">
						<a class="header-menu__link" href="#works">
							<svg class="header-menu__icon" width="22" height="20" viewBox="0 0 22 20" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M12 16H19C20.6569 16 22 14.6569 22 13V3C22 1.34315 20.6569 0 19 0H3C1.34315 0 0 1.34315 0 3V13C0 14.6569 1.34315 16 3 16H10V18H7C6.44772 18 6 18.4477 6 19C6 19.5523 6.44772 20 7 20H15C15.5523 20 16 19.5523 16 19C16 18.4477 15.5523 18 15 18H12V16ZM3 2C2.44772 2 2 2.44772 2 3V13C2 13.5523 2.44772 14 3 14H19C19.5523 14 20 13.5523 20 13V3C20 2.44772 19.5523 2 19 2H3Z"
									fill="#fff" />
							</svg>
							<span class="header-menu__text">Works</span>
						</a>
					</li>
					<li class="header-menu__item" aria-label="Переход на страницу контактов">
						<a class="header-menu__link" href="#contact">
							<svg class="header-menu__icon" width="22" height="18" viewBox="0 0 22 18" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path class="header-menu__icon" fill-rule="evenodd" clip-rule="evenodd"
									d="M5.14246e-05 2.98266C-0.000110751 2.99253 -0.000127099 3.00239 1.91283e-06 3.01225V15C1.91283e-06 16.6523 1.34772 18 3 18H19C20.6523 18 22 16.6523 22 15V3.01236C22.0001 3.00242 22.0001 2.99247 22 2.98251C21.9905 1.33822 20.6465 0 19 0H3C1.3535 0 0.00944232 1.3383 5.14246e-05 2.98266ZM2.10658 2.55395C2.27196 2.22692 2.61204 2 3 2H19C19.388 2 19.728 2.22692 19.8934 2.55395L11 8.77934L2.10658 2.55395ZM20 4.92066V15C20 15.5477 19.5477 16 19 16H3C2.45229 16 2 15.5477 2 15V4.92066L10.4265 10.8192C10.7709 11.0603 11.2291 11.0603 11.5735 10.8192L20 4.92066Z"
									fill="#fff" />
							</svg>
							<span class="header-menu__text">Contact</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="developer__wrapper autoScroll">
			<h1 class="developer__wrapper-title" aria-label="Разработчик">Developer</h1>
			<div class="developer__wrapper-left">
				<div class="developer__personal">
					<img class="developer__img" src="./img/raygel.jpg" alt="Фотография Райгель Владимир" loading="lazy">
					<h2 class="developer__name" aria-label="Имя разработчика">Владимир</h2>
					<h3 class="developer__profession" aria-label="Профессия разработчика">Full-stack developer</h3>
					<ul aria-label="Контактная информация">
						<li class="developer__contact developer__contact_email"><a class="developer__contact-link"
							href="mailto:vraygel@mail.ru" target="_blank" rel="noopener noreferrer">vraygel@mail.ru</a></li>
						<li class="developer__contact developer__contact_adress"><a class="developer__contact-link"
							href="https://yandex.ru/maps/?ll=60.900911%2C56.839313&z=10.41" target="_blank" rel="noopener noreferrer">Екатеринбург</a></li>
						<li class="developer__contact developer__contact_briefcase">
							<p>Постоянная занятость / Фриланс</p>
						</li>
						<li class="developer__contact developer__contact_site"><a class="developer__contact-link" href="#"
								target="_blank">VRaygel.ru</a></li>
					</ul>
					<ul class="developer__skills">
						<li class="developer__skill">HTML</li>
						<li class="developer__skill">CSS</li>
						<li class="developer__skill">JS</li>
						<li class="developer__skill">REACT</li>
					</ul>
					<a href="/img/Raygel.docx" download target="_blank" rel="noopener noreferrer"><button class="developer__download-cv" type="button">Download	CV</button></a>
				</div>
			</div>
			<div class="developer__wrapper-center">
				<div class="developer__center">
					<code class="code">&lt;h1&gt;</code>
					<h2 class="developer__greeting" aria-label="Приветствие">Привет</h2>
					<h2 class="developer__greeting">Я <span class="developer__greeting-name">Райгель Владимир</span></h2>
					<h2 class="developer__greeting">Full-Stack Developer</h2>
					<code class="code">&lt;h1&gt;</code>
					<code class="code">&lt;p&gt;</code>
					<p class="developer__slogan">Я помогаю бизнесу расти, создавая потрясающие веб-сервисы. Если вы ищете
						разработчика, которому нравится создавать красивые и практичные сайты, вы знаете что делать... Напишите мне
						сообщение!)</p>
					<code class="code">&lt;p&gt;</code>
					<a class="developer__message" href="#contact">let’s talk <i class="developer__message-icon"></i></a>
				</div>
			</div>
		</div>
	</header>

	<main class="main">
		<section class="about autoScroll" id="about">
			<div class="mouse-scroll"></div>
			<div class="section-wrapper">
				<div class="about__container">
					<h2 class="about__title" aria-label="Обо мне">Обо мне</h2>
					<div class="about__content">
						<code class="code">&lt;p&gt;</code>
						<h3 class="about__greeting">Привет!</h3>
						<p class="about__paragraph">
							Я — начинающий веб-разработчик и специалист по верстке сайтов с твердым желанием расти и развиваться в
							сфере IT. Мой путь в программировании начался с обучения на курсе Frontend-разработки в компании
							netology.ru, после чего я продолжил расширять свои навыки на курсах Fullstack-разработки с акцентом на
							JavaScript в компании Skillbox.
						</p>
						<p class="about__paragraph">
							В настоящее время я активно изучаю TypeScript, а далее планирую освоить React.js, Node.js, Express.js,
							PostgreSQL и MongoDB — это даст мне возможность создавать полноценные веб-приложения и сайты с серверной
							частью, а также реализовывать сложные функциональные решения.
						</p>
						<p class="about__paragraph">
							Благодаря гибкому графику работы, я эффективно совмещаю работу и обучение, что позволяет мне оказывать
							практические услуги по верстке, разработке сайтов и созданию веб-приложений, а также развивать свои знания
							и компетенции на реальных проектах. У меня есть опыт разработки учебных проектов с использованием HTML,
							CSS и JavaScript, а также опыта работы над настоящим коммерческим проектом. Мой текущий проект —
							memboost.ru, платформа для интервального повторения по методу Эббингауза. Этот pet-проект стал отличной
							площадкой для освоения новых технологий backend-разработки: Express.js, Mongoose, Multer и других
							инструментов современного fullstack-стека.
						</p>
						<p class="about__paragraph">
							Я считаю себя талантливым и мотивированным Junior Frontend разработчиком и верстальщиком, готовым к новым
							вызовам и интересным проектам. Мое кредо — постоянное развитие и внедрение новых технологий, потому что,
							как сказал Генри Форд: «Лучшая работа — это высокооплачиваемое хобби». Я уверен, что мои навыки и
							стремление к совершенству позволят мне внести ценный вклад в развитие ваших проектов и создать сайты,
							которыми гордятся заказчики и пользуются пользователи.
						</p>
						<p class="about__paragraph">
							Идеи для сотрудничества или вопросы? Обращайтесь любым удобным способом — обсудим детали и найдем
							наилучшее решение для вашего проекта.
						</p>
						<code class="code">&lt;p&gt;</code>
					</div>
				</div>
				<div class="about__photo" loading="lazy"></div>
			</div>
		</section>

		<section class="skills autoScroll" id="skills">
			<div class="mouse-scroll"></div>
			<code class="section__text_code">&lt;/&gt;</code>
			<div class="section__header">
				<h2 class="section__title" aria-label="Навыки">Skills</h2>
				<p class="section__description">Я стремлюсь никогда не прекращать учиться и совершенствоваться</p>
			</div>
			<div class="skills__development">
				<div class="skills__development-inner">
					<h3 class="skills__development-title">web developement</h3>
					<p class="skills__development-text">HTML·CSS·JS·REACT</p>
				</div>
			</div>
			<div class="skills__list-wrapper">
				<ul class="skills__list">
					<li>
						<ul class="skills__list_inner">
							<li class="skills__item skills__item_html">HTML</li>
							<li class="skills__item skills__item_css">CSS</li>
						</ul>
					</li>
					<li>
						<ul class="skills__list_inner">
							<li class="skills__item skills__item_js">JS</li>
							<li class="skills__item skills__item_react">REACT</li>
						</ul>
					</li>
				</ul>
			</div>
		</section>

		<section class="section works autoScroll" id="works">
			<div class="mouse-scroll"></div>
			<div class="section__header">
				<h2 class="section__title title" aria-label="Проекты">Works</h2>
				<p class="section__description">Я имел удовольствие работать с этими потрясающими проектами</p>
			</div>
			<div class="swiper mySwiper works__swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide works__slide">
						<a href="https://supertreeservice.com/" target="_blank"><img src="./img/supertreeservice.jpg"
								alt="сайт supertreeservice"></a>
						<a href="https://supertreeservice.com/" target="_blank">
							<h3 class="swiper-slide-title works__slide_title">supertreeservice.com</h3>
						</a>
					</div>
					<div class="swiper-slide works__slide">
						<a href="/portfolio/skillboxHTML/index.html" target="_blank"><img src="./img/pawtastic.jpg"
								alt="сайт pawtastic"></a>
						<a href="/portfolio/skillboxHTML/index.html" target="_blank">
							<h3 class="works__slide_title">Финальный проект HTML</h3>
						</a>
					</div>
					<div class="swiper-slide works__slide">
						<a href="/portfolio/skillboxJavaScript/catalog.html" target="_blank"><img src="./img/briaton.jpg"
								alt="pawtastic"></a>
						<a href="/portfolio/skillboxJavaScript/catalog.html" target="_blank">
							<h3 class="works__slide_title">Финальный проект JS</h3>
						</a>
					</div>
					<div class="swiper-slide works__slide">
						<a href="/portfolio/corason/index.html" target="_blank"><img src="./img/corason.jpg" alt="corason"></a>
						<a href="/portfolio/corason/index.html" target="_blank">
							<h3 class="works__slide_title">Corason</h3>
						</a>
					</div>
				</div>
				<div class="swiper-button-prev works__button-prev"></div>
				<div class="swiper-button-next works__button-next"></div>
			</div>
		</section>

		<section class="section contact autoScroll" id="contact">
			<div class="mouse-scroll"></div>
			<div class="section__header section__header_contact">
				<h2 class="section__title title">Contact</h2>
				<p class="section__description">В настоящее время я могу работать фрилансером</p>
			</div>
			<h2 class="contact__title title" aria-label="Отправить сообщение">Send me a message</h2>
			<form class="contact__form" action="#" id="contactForm">
				<div class="contact__input-wrapper">
					<div class="contact__input-inner">
						<label class="contact__label" for="userNameInput" aria-label="Ваше имя">Ваше имя*</label>
						<input class="contact__input contact__input_name" type="text" name="userNameInput"
							placeholder="Введите ваше имя" id="userNameInput">
					</div>
					<div class="contact__input-inner">
						<label class="contact__label" for="userEmailInput" aria-label="Ваш Емаил">Ваш Емаил*</label>
						<input class="contact__input contact__input_emeail" type="text" name="userEmailInput"
							placeholder="Введите ваш email" id="userEmailInput">
					</div>
				</div>
				<div class="contact__input-inner">
					<label class="contact__label" for="userMessageInput" aria-label="Ваше сообщение">Ваше сообщение</label>
					<textarea class="contact__textarea" name="userMessageInput" id="userMessageInput"
						placeholder="Напишите Ваше сообщение"></textarea>
				</div>
				<div class="contact__input-inner">
					<button class="contact__btn" type="submit">Отправить</button>
				</div>
			</form>
		</section>
	</main>

	<footer class="footer">

		<div class="container container__footer">
			<p class="footer__text text">&copy; 2025 Райгель Владимир. Все права защищены.</p>
			<p class="footer__text text">Design By: <a class="footer__link" href="/">Vraygel</a></p>
		</div>

	</footer>

	<div class="modal" id="modalError">
		<div class="modal__window">
			<h2 class="modal__title" aria-label="Ошибка">Ошибка!</h2>
			<p class="modal__text">Пожалуйста, заполните все обязательные поля корректно.</p>
			<button class="modal__btn" type="button" data-close>Ок</button>
		</div>
	</div>
	<div class="modal" id="modalSuccess">
		<div class="modal__window">
			<h2 class="modal__title">Успех!</h2>
			<p class="modal__text">Форма отправлена!</p>
			<button class="modal__btn" type="button" data-close>Ок</button>
		</div>
	</div>

	<script src="js/bundle.js"></script>

</body>

</html>