html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
    margin-block-end: 0;
}

ul {
	list-style: none;
}

button {
	border: none;
}

:root {
	--bg-1: #292f36;
	--bg-2: #1a1e23;
	--brand-1: #12f7d6;
	--brand-2: #98faec;
	--grey: #43454d;
	--white: #fff;
	--html: #e54f26;
	--css: #0c73b8;
	--js: #e7a020;
	--react: #28a9e0;
	--white: #fff;
	--black: #000;
	--width: calc(var(--maxWidth) - var(--minWidth));
}

:root {
	--font-family: "Ubuntu", sans-serif;
	--second-family: "IBM", sans-serif;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexMono';
	src: url('../fonts/IBMPlex/IBMPlexMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexMono';
	src: url('../fonts/IBMPlex/IBMPlexMono-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.border {
	outline: 2px solid red;
}

/* header */

.header {
	background-color: var(--bg-1);
	color: var(--white);
}

.header__inner {
	padding-left: 128px;
	padding-right: 128px;
	/* width: 100%; */

}

.header__container {
	/* max-width: 1664px; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 35px;
	padding-bottom: 34px;

	border-bottom: 1px solid var(--grey);
}

.header__logo-wrapper {
	display: block;
	width: 70px;
	height: auto;
}

.header__logo-wrapper {
	width: 100px;
}

.header__logo {
	display: flex;
	align-items: flex-end;
}

.header__logo-svg {
	width: 100px;
	height: 100px;
	fill: var(--white);
	cursor: pointer;
	flex: 0 0 auto
}

.header__logo-span {
	cursor: pointer;
	font-size: 50px;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	transition: clip-path 500ms ease-in-out, display 100ms ease-in-out;
}

.header__logo:hover .header__logo-span {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header__navigation {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	column-gap: 64px;
	max-width: 855px;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 32px;
}

.burger-menu {
	display: none;
	cursor: pointer;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 100;
}

.burger-menu span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #f0f0f0;
	opacity: 1;
	left: 0;
	transition: all 0.3s ease;
}

.burger-menu span:nth-child(1) {
	top: 0px;
}

.burger-menu span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.burger-menu span:nth-child(3) {
	bottom: 0px;
}

.burger-menu.active span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.burger-menu.active span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

.header__menu-inner {
	font-family: var(--second-family);
	font-weight: 400;
	text-transform: capitalize;
	color: var(--white);
}

.header__menu-social {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-transform: capitalize;
	color: var(--white);
}

.header__menu-item {
	transition: color ease-in 0.3s, transform ease-in 0.3s;
}

.header__menu-item:hover {
	color: var(--brand-1);
	transform: scale(1.1);
}

.header__search {
	position: relative;
}

.search__input {
	padding-left: 12px;
	border-radius: 16px;
	height: 32px;
	border: 0;
}

.search__input:focus-visible {
	outline-color: var(--brand-1);
}

.search:hover .header__search-icon {
	opacity: 1;
}

.header__input:focus+.header__search-icon {
	opacity: 1;
}

.header__search-icon {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 75px;
	top: 6px;
	opacity: 0;
	transition: opacity ease-in 0.3s;
}

body {
	background-color: black;

}

.header-menu {
	position: fixed;
	top: 100px;
	left: 64px;
	z-index: 10;
	width: 64px;
	background-color: var(--bg-2);
	;
	padding: 8px 12px;
	border: 2px solid var(--white);
	border-radius: 40px;
}

.header-menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;
}

.header-menu__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 8px;
	border-radius: 50%;
	transition: background-color ease-in 0.3s;
}

.header-menu__item:hover {
	background-color: var(--white);
}

.header-menu__item:hover .header-menu__icon {
	fill: var(--brand-1);
}

.header-menu__item:hover,
.header-menu__item.active {
	background-color: var(--white);
}

/* .container__bottom-item:hover .container__bottom-span,
.container__bottom-item.active .container__bottom-span {
		display: block;
		opacity: 1;
} */
.header-menu__item:hover .container__link-svg,
.header-menu__item.active .container__link-svg {
	fill: var(--brand-1);
}

.header-menu__link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-menu__icon {
	transition: fill ease-in 0.3s;
}

.header-menu__item:hover .header-menu__text {
	display: block;
	visibility: visible;
	transition: visibility ease-in 0.3s;
}


.header-menu__text {
	border-radius: 8px;
	padding: 8px 16px;
	width: 150px;
	background-color: var(--white);
	position: absolute;
	top: 15px;
	left: 75px;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	text-align: center;
	color: var(--bg-1);
	visibility: hidden;
	transition: visibility ease-in 0.3s;
}

.developer__wrapper {
	display: flex;
	column-gap: 3vw;
	padding-left: 130px;
	padding-right: 130px;
	padding-top: 60px;
	padding-bottom: 128px;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.developer__wrapper-title {
	flex: 0 0 100%;
	margin-bottom: 55px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 117px;
	line-height: 115%;
	text-transform: capitalize;
	color: var(--brand-2);
}

.developer__wrapper-left {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	/* margin-right: 122px; */
	padding-top: 35px;
	padding-bottom: 37px;
	padding-right: 23px;
	border: 4px solid var(--white);
	border-radius: 160px 0;
	width: 330px;
	text-align: left;
	box-shadow: -4px -4px 2px 0 var(--brand-1);
}

.developer__img {
	display: block;
	margin: 0 auto;
	width: 96px;
	height: 96px;
	margin-bottom: 16px;
	border-radius: 50%;
	outline: 3px solid var(--brand-1);
	text-align: center;
}

.developer__name {
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	text-transform: capitalize;
	color: var(--white);
	text-align: center;
}

.developer__profession {
	margin-bottom: 32px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: var(--white);
	text-align: center;
}

.developer__contact {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: left center;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: var(--white);
}

.developer__contact:not(:last-child) {
	margin-bottom: 16px;
}

.developer__contact_email {
	background-image: url(../img/icon-mail.svg);
}

.developer__contact_adress {
	background-image: url(../img/adress.svg);
}

.developer__contact_briefcase {
	background-image: url(../img/icon-briefcase.svg);
}

.developer__contact_site {
	background-image: url(../img/icon-link.svg);
}

.developer__skills {
	display: flex;
	gap: 16px;
	margin-bottom: 32px;
	padding-top: 18px;
}

.developer__skill {
	border-radius: 6px;
	padding: 0px 8px;
	background: var(--brand-1);
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: var(--bg-1);
}

.developer__download-cv {
	cursor: pointer;
	border-radius: 32px;
	padding: 16px 32px;
	width: 227px;
	background: var(--white);
	background-image: url(../img/icon-download.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 171px center;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	text-transform: capitalize;
	color: var(--bg-1);
	text-align: left;
	transition: background-color ease-in 0.3s;
}

.developer__download-cv:hover {
	background-color: var(--brand-1);
}


.developer__inner {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.developer__wrapper-center {
	/* margin-right: 25px; */
	/* flex-grow: 2; */

}

.developer__center {
	text-align-last: left;
	padding-top: 47px;
	/* margin-bottom: 20px; */
}

.code {
	display: block;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	color: var(--brand-2);
}

/* .ntainer__bottom-code-absolut {
		position: absolute;
	} */

.developer__greeting {
	padding-left: 15px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 64px;
	line-height: 112%;
	color: var(--white);
}

.developer__greeting:last-of-type {
	/* margin-bottom: 12px; */
}

.developer__slogan {
	max-width: 600px;
	padding-left: 24px;
	padding-top: 18px;
	padding-bottom: 14px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: var(--white);
	text-align: left;
}

.developer__message {
	position: relative;
	display: block;
	width: fit-content;
	padding-left: 34px;
	padding-top: 10px;
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	text-transform: capitalize;
	color: var(--brand-1);
	text-align: center;
	transition: opacity 0.5s ease-in-out;
}

.developer__message-icon {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: var(--grey);
	border-radius: 50%;
	background-image: url(../img/icon-mail.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center center;
	transition: transform 15s ease-in-out, opacity 0.5s ease-in-out;
}

.developer__message-arrow {
	position: absolute;
	bottom: -30px;
	/* Положение стрелки под иконкой */
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid var(--brand-1);
	/* Цвет стрелки */
	opacity: 0;
	/* Изначально стрелка невидима */
}

.developer__message:hover .developer__message-icon {
	animation: bounce-and-fall 1s ease-in-out forwards;
	/* Запускаем анимацию */
	transform: rotate(360deg);
	/* Вращение вокруг оси Z */
}

.developer__message:not(:hover) .developer__message-icon {
	animation: show-arrow 1s ease-in-out forwards
}

@keyframes show-arrow {
	0% {
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	66% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce-and-fall {
	0% {
		transform: translateX(0) translateY(0) rotate(0);
		/* Начальное положение */
		opacity: 1;
	}

	10% {
		transform: translateX(50px) translateY(-50px) rotate(180deg);
	}

	20% {
		transform: translateX(100px) translateY(0px) rotate(360deg);
	}

	30% {
		transform: translateX(150px) translateY(-50px) rotate(540deg);
	}

	40% {
		transform: translateX(200px) translateY(0px) rotate(720deg);
	}

	50% {
		transform: translateX(200px) translateY(-100px) rotate(180deg);
		opacity: 1;
	}

	60% {
		transform: translateX(200px) translateY(-100px) scale(1.1);
	}

	100% {
		transform: translateX(200px) translateY(100vh) rotate(360deg);
		opacity: 0;
	}
}

.developer__wrapper-right {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
}

.developer__stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	padding-top: 48px;
	padding-left: 32px;
	padding-right: 32px;
	border-radius: 80px;
	width: 204px;
	height: 378px;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
	background: var(--bg-2);
	text-align: left;
}

.developer__stats-item {
	display: flex;
	align-items: center;
}

/* .developer__stats-number {
		display: inline;
	} */

.developer__stats-number {
	margin-right: 11px;
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 48px;
	line-height: 129%;
	text-transform: capitalize;
	color: var(--brand-1);
}

.developer__stats-number:not(:last-child) {
	margin-bottom: 15px;
}



/* about */

.about {
	padding-top: 100px;
	background-image: url(../img/AboutMe.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.section-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 111px;
	margin-left: calc(257px - ((257 - 232) * (1920px - 100vw) / (1920 - 1280)));
	margin-right: calc(193px - ((193 - 168) * (1920px - 100vw) / (1920 - 1280)));
	padding-top: 100px;
	padding-bottom: 128px;
}

.mouse-scroll {
	height: 200px;
	background-image: url(../img/Scroll.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.about__title {
	border: 4px solid var(--brand-1);
	border-radius: 40px 0;
	padding: 12px 48px;
	max-width: fit-content;
	/* height: 104px; */
	display: block;
	margin-bottom: 63px;
	background: var(--bg-1);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 64px;
	line-height: 112%;
	text-transform: capitalize;
	color: var(--white);
}

.about__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about__content {
	max-width: 880px;
	padding: 24px 40px;
	/* margin-right: 128px; */
	border-radius: 40px;
	background: var(--bg-1);
}

.about__greeting {
	padding-top: 20px;
	/* padding-bottom: 10px; */
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	text-transform: capitalize;
	color: var(--brand-1);
}

.about__paragraph {
	padding-bottom: 12px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: var(--white);
}

.about__photo {
	/* margin-left: 128px; */
	border-radius: 16px;
	width: 462px;
	height: 308px;
	background-image: url(../img/aboutFoto.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

/* skills */

.section__wrapper {}

.skills {
	position: relative;
	padding-top: 97px;
	padding-bottom: 128px;
	background: url(../img/Skills.jpg), var(--bg-1);
	background-repeat: no-repeat;
	background-size: cover;
}

.section__text_code {
	position: absolute;
	top: 130px;
	/* right: 468px; */
	left: 63vw;
	font-size: 160px;
	color: var(--brand-1);
}

/* .skills__header_skills {
	margin-bottom: 64px;
} */

.section__header {
	padding-top: 30px;
	text-align: center;
	margin-bottom: 60px;
}

.section__description {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: var(--white);
}


.section__title {
	position: relative;
	margin-bottom: 32px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 64px;
	line-height: 112%;
	text-transform: capitalize;
	color: var(--brand-1);
}

.skills__description {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: var(--white);
}

.skills__development {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 90px;
}

.skills__development-inner {
	border-radius: 0 8px 8px 0;
	padding: 16px 24px;
	padding-top: 56px;
	width: 288px;
	height: 132px;
	background: var(--brand-2);
	border-left: 8px solid var(--css);
	border-radius: 8px 0 0 8px;
	background-image: url(../img/icon-monitor.svg);
	background-repeat: no-repeat;
	background-position: center 16px;
}

.skills__development-title {
	margin-bottom: 8px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 133%;
	text-transform: capitalize;
	text-align: center;
	color: var(--bg-1);
}

.skills__development-text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	text-align: center;
	color: var(--grey);
}

.skills__list {
	display: flex;
	gap: 128px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.skills__list_inner {
	display: flex;
	gap: 128px;
	justify-content: center;
	align-items: center;
}

.skills__item {
	width: 144px;
	/* height: 210px; */
	height: auto;
	padding-top: 168px;
	text-align: center;
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	text-transform: capitalize;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

.skills__item_html {
	color: var(--html);
	background-image: url(../img/Icon_html.svg);
}

.skills__item_css {
	color: var(--css);
	background-image: url(../img/Icon_css.svg);
}

.skills__item_js {
	color: var(--js);
	background-image: url(../img/Icon_js.svg);
}

.skills__item_react {
	background-image: url(../img/Icon_react.svg);
	color: var(--react);
}

/* works */

.works {
	padding-top: 100px;
	padding-bottom: 83px;
	background: url(../img/Works.png), var(--bg-2);
	border-bottom: 1px solid var(--grey);
}

/* Swiper */

.swiper {
	max-width: 921px;
	height: auto;
	overflow: hidden;
}

.swiper .swiper-slide {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.swiper .swiper-slide img {
	width: 649px;
	height: 432px;
	/* width: 100%; */
	/* height: auto; */
	object-fit: cover;
	border-radius: 16px;
}

.swiper .works__slide_title {
	padding: 5px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 133%;
	text-transform: capitalize;
	color: var(--white);
	border-radius: 8px;
	transition: ouline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.swiper .works__slide_title:hover {
	color: var(--brand-1);
	outline: 2px solid var(--brand-1);
}



.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	/* width: 70px;
	height: 70px; */
	border-radius: 50%;
	background-color: var(--bg-1);
	background: var(--bg-1);
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
	font-size: 20px;
	color: var(--white);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
	color: var(--white);
}


/* contact */

.contact {
	background: var(--bg-2);
	padding-top: 32px;
	padding-bottom: 63px;
}

.section__header_contact {
	margin-bottom: 108px;
}

.contact__title {
	margin: 0 auto;
	margin-bottom: 64px;
	border: 2px solid var(--brand-1);
	border-radius: 32px 0;
	padding: 14px 40px;
	width: fit-content;
	font-family: var(--second-family);
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	text-transform: capitalize;
	text-align: center;
	color: var(--brand-1);
}

.contact__form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-right: 140px;
	padding-left: 140px;
}

.contact__input-inner {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}

.contact__input-wrapper {
	display: flex;
	gap: 128px;
	width: 100%;
	margin-bottom: 64px;
	justify-content: center;
	align-items: center;
	;
}

.contact__label {
	text-align: left;
	display: block;
	margin-bottom: 15px;
	padding-left: 8px;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	color: var(--brand-1);
}

.contact__input {
	width: 100%;
	/* width: 496px; */
	padding: 8px;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--brand-2);
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	color: var(--white);
}

.contact__input:focus,
.contact__textarea:focus {
	outline: 0;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	color: var(--white);
}

.contact__textarea {
	width: 100%;
	min-height: 20px;
	padding: 8px;
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--brand-2);
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	color: var(--white);
}

.contact__btn {
	border-radius: 32px;
	padding: 16px 32px;
	width: 234px;
	height: 56px;
	background: var(--brand-1);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	text-transform: capitalize;
	color: var(--bg-1);
	cursor: pointer;
	transition: background-color ease-in 0.3s, color ease-in 0.3s, outline ease-in 0.3s;
}

.contact__btn:hover {
	outline: 2px solid var(--brand-1);
	border-radius: 32px;
	background-color: var(--bg-1);
	color: var(--white);
}





/* footer */

.footer {
	background: var(--bg-2);
	border-top: 1px solid var(--grey);
}

.container__footer {
	display: flex;
	padding: 24px 128px;
	padding-bottom: 48px;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	text-align: center;
	color: var(--white);
}

.footer__link {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-align: center;
	color: var(--brand-1);
}

/* validator */

.invalid {
	border-color: red;
	border-width: 2px;
}


/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
	justify-content: center;
	align-items: center;
}

.modal.open {
	display: flex;
}

.modal__window {
	position: relative;
	background-color: var(--bg-1);
	border-radius: 32px;
	border: 2px solid var(--brand-1);
	padding: 32px;
	width: 400px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.modal__title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 32px;
	line-height: 112%;
	text-transform: capitalize;
	color: var(--brand-1);
	margin-bottom: 24px;
}

.modal__text {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	text-transform: capitalize;
	color: var(--white);
	margin-bottom: 24px;
}

.modal__btn {
	border-radius: 32px;
	padding: 16px 32px;
	width: 234px;
	height: 56px;
	background: var(--brand-1);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	text-transform: capitalize;
	color: var(--bg-1);
	cursor: pointer;
}





@media (max-width: 1919px) {
	:root {
		--maxWidthPx: 1920px;
		--maxWidth: 1920;
		--minWidth: 1280;
	}

	.developer__wrapper {
		/* --ml: 252px;
		--maxMl: 252;
		--minMl: 160;
		--calcMl: calc(var(--maxMl) - var(--minMl));
		--mR: 241px;
		--maxMr: 241;
		--minMr: 160;
		--calcMr: calc(var(--maxMr) - var(--minMr));

		margin-left: calc(var(--ml) - (var(--calcMl) * (var(--maxWidthPx) - 100vw) / var(--width)));
		margin-right: calc(var(--mR) - (var(--calcMr) * (var(--maxWidthPx) - 100vw) / var(--width))); */

	}

	.developer__wrapper-left {
		/* --mR: 106px;
		--maxMr: 106;
		--minMr: 20;
		--calcMr: calc(var(--maxMr) - var(--minMr));
		margin-right: calc(var(--mR) - (var(--calcMr) * (var(--maxWidthPx) - 100vw) / var(--width))); */
	}

}

@media (max-width: 1280px) {
	.header__inner {
		padding-left: calc(128px - (96 * (1280px - 100vw) / 512));
		padding-right: calc(128px - (96 * (1280px - 100vw) / 512));
	}

	.header__container {
		padding-top: calc(36px - (4 * (1280px - 100vw) / 512));
		padding-bottom: calc(36px - (4 * (1280px - 100vw) / 512));
	}

	.header__logo-svg {
		width: 50px;
		height: 50px;
	}

	.header__logo-span {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		font-size: 24px;
		/* font-size: calc(50px - ((50 - 30) * (1280px - 100vw) / (1280 - 768))); */
	}

	.header__menu-link {
		font-size: 24px;
	}

	.header__menu-icon p {
		display: none;
	}

	.header__menu-icon {
		display: block;
		width: 40px;
		height: 40px;
		background-size: cover;
	}

	.header__menu-link-github {
		background-image: url(../img/Github.svg);
	}

	.header__menu-link-telegram {
		background-image: url(../img/Telegram.svg);
	}

	.header__menu-link-whatsapp {
		background-image: url(../img/WhatsApp.svg);
	}

	.header-menu__item:hover .header-menu__text {
		visibility: hidden;
	}

	.developer__center {
		padding-top: 62px;
	}

	.developer__wrapper {
		padding-bottom: 60px;
	}

	.developer__wrapper-center {
		margin-right: 0;
		/* margin-bottom: 20px; */
	}

	.developer__wrapper-left {
		/* margin-right: 0; */
	}

	.about {
		padding-top: 63px;
	}

	.section-wrapper {
		padding-top: 44px;
		padding-bottom: 64px;
		gap: 64px;
		margin-left: calc(232px - ((232 - 64) * (1280px - 100vw) / (1280 - 768)));
		margin-right: calc(168px - ((168 - 64) * (1280px - 100vw) / (1280 - 768)));
	}

	.skills {
		padding-right: 170px;
		padding-left: 170px;
	}

	/* .swiper .swiper-button-prev,
	.swiper .swiper-button-next {
		width: 40px;
		height: 40px;
	} */

	.swiper .swiper-button-prev::after,
	.swiper .swiper-button-next::after {
		font-size: 16px;
	}

	.contact__input-wrapper {
		gap: 64px;
	}

	/* .contact__form {
	padding-right: 88px;
	padding-left: 88px;
} */

	.contact__input-wrapper {
		width: 100%;
	}

	.contact__input,
	.contact__textarea {
		width: 100%;
		margin-bottom: 5px;
	}
}

@media (max-width: 1024px) {
	.search__input {
		display: none;
	}

	.header__navigation {
		column-gap: 32px;
	}

	.header__nav-wrapper {
		display: none;
	}

	.developer__wrapper {
		padding-right: 20px;
		padding-left: 20px;
	}


	.skills {
		padding-right: 100px;
		padding-left: 100px;
	}

	.works {
		padding-right: 10px;
		padding-left: 10px;
	}

	.works__slide img {
		width: 480px;
		height: 320px;
	}

	.contact__form {
		padding-right: 20px;
		padding-left: 20px;
	}

}

@media (max-width: 768px) {

	:root {
		--maxWidthPx: 768px;
		--maxWidth: 768;
		--minWidth: 360;
	}

	.header__logo-svg {
		width: 45px;
		height: 45px;
	}

	.header__logo-span {
		font-size: 20px;
		/* font-size: calc(30px - ((30 - 17) * (768px - 100vw) / (768 - 360))); */
	}

	.header__navigation {
		column-gap: 24px;
	}

	.header__menu {
		gap: 24px;
	}

	.header__menu-link {
		font-size: 20px;
	}

	.mouse-scroll {
		display: none;
	}

	.section__header {
		padding-top: 0;
	}

	.header__inner {
		padding-left: calc(32px - (8 * (768px - 100vw) / 378));
		padding-right: calc(32px - (8 * (768px - 100vw) / 378));

	}

	.header__container {
		padding-top: calc(32px - (8 * (768px - 100vw) / 378));
		padding-bottom: calc(32px - (8 * (768px - 100vw) / 378));
	}


	.developer__wrapper-title {
		display: none;
	}

	.developer__wrapper {
		/* --ml: 60px;
		--maxMl: 60;
		--minMl: 31;
		--calcMl: calc(var(--maxMl) - var(--minMl));
		--mR: 60px;
		--maxMr: 60;
		--minMr: 31;
		--calcMr: calc(var(--maxMr) - var(--minMr));

		margin-left: calc(var(--ml) - (var(--calcMl) * (var(--maxWidthPx) - 100vw) / var(--width)));
		margin-right: calc(var(--mR) - (var(--calcMr) * (var(--maxWidthPx) - 100vw) / var(--width))); */
	} 

	.about__title {
		font-size: calc(64px - ((64 - 32) * (768px - 100vw) / (768 - 390)));
	}

	.developer__greeting {
		font-size: calc(64px - ((64 - 32) * (768px - 100vw) / (768 - 390)));
	}

	.section-wrapper {
		padding-top: 0;
		margin-left: calc(64px - ((64 - 23) * (768px - 100vw) / (768 - 390)));
		margin-right: calc(64px - ((64 - 23) * (768px - 100vw) / (768 - 390)));
	}

	.section__text_code {
		display: none
	}

	.skills__list_inner {
		gap: 96px;
	}

	.skills {
		padding-right: 50px;
		padding-left: 50px;
	}

	.skills,
	.works {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	.swiper .works__slide img {
		width: calc(480px - ((480 - 272) * (768px - 100vw) / (768 - 390)));
		height: calc(320px - ((320 - 272) * (768px - 100vw) / (768 - 390)));
	}

	.section__header_contact {
		margin-bottom: 65px;
	}

	.contact__input-wrapper {
		gap: 32px;
	}

	.contact__input-wrapper {
		flex-wrap: wrap;
	}

	.container__footer {
		padding-right: 20px;
		padding-left: 20px;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}

}

@media (max-width: 640px) {
	.header__menu-social-show {
		position: absolute;
		top: 0;
		right: 50px;
		z-index: 10;
		background-color: var(--bg-1);
	}

	.header__menu-social {
		display: none;
	}

	.burger-menu {
		display: block;
	}

	.about__photo {
		width: calc(462px - ((462 - 272) * (640px - 100vw) / (640 - 390)));
		height: calc(308px - ((308 - 180) * (640px - 100vw) / (640 - 390)));
	}

	.about__title {
		margin-bottom: 32px;
	}

	.section-wrapper {
		padding-bottom: 64px;
	}

	.skills {
		padding-top: 64px;
		padding-bottom: 64px;
		padding-right: 30px;
		padding-left: 30px;
	}

	.skills__list {
		gap: 32px;
	}

	.skills__item {
		width: 112px;
		height: auto;
		padding-top: 137px;
	}

	.skills__list_inner {
		gap: 64px;
	}

	/* .swiper .swiper-button-prev,
	.swiper .swiper-button-next {
		width: 35px;
		height: 35px;
	} */

	.contact__title {
		font-size: 24px;
	}
}