html {
	box-sizing: border-box;
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	list-style: none;
}

ul,
li {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	padding: 0;
}

:root {
	--brand-1: #12f7d6;
	--white: #fff;
	--font-family: "Gilroy", sans-serif;
	--second-family: "Onest", sans-serif;
	--third-family: "Steelfish", sans-serif;
}

@font-face {
	font-family: 'Gilroy';
	src: url('./fonts/gilroy-regular.eot');
	src: url('./fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/gilroy-regular.woff2') format('woff2'),
		url('./fonts/gilroy-regular.woff') format('woff'),
		url('./fonts/gilroy-regular.ttf') format('truetype'),
		url('./fonts/gilroy-regular.svg#gilroy-regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Onest';
	src: url('./fonts/Onest-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish-rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.body {
	background:
		linear-gradient(#0b090e, #0b090e),
		radial-gradient(82.04% 47.75% at 35.36% 69.32%, #c00b29 0%, rgba(192, 11, 41, 0) 100%);
}

.skip-link {
	position: fixed;
}

.header_title,
.section_title {
	display: none;
}

.header {
	position: relative;
	max-width: 1920px;
	height: auto;
	margin: 0 auto;
	padding-top: 715px;
	background-image: none;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-animation: show-corason 2s linear forwards 2s;
	animation: show-corason 2s linear forwards 2s;
}

@-webkit-keyframes show-corason {
	0% {
		background-image: none;
	}

	100% {
		background-image: url(./img/corason.png);
	}
}

@keyframes show-corason {
	0% {
		background-image: none;
	}

	100% {
		background-image: url(./img/corason.png);
	}
}

.header::after,
.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(./img/corason.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
}

.header::after {
	transform: translateY(10px);
	filter: hue-rotate(0.45turn);
	-webkit-animation: blink-glitch 5s linear infinite 2s;
	animation: blink-glitch 5s linear infinite 2s;
}

.header::before {
	transform: translateY(-5px);
	filter: hue-rotate(0.8turn);
	-webkit-animation: blink-glitch 5s linear infinite 2s;
	animation: blink-glitch 5s linear infinite 2s;
}

@-webkit-keyframes blink-glitch {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0.2;
	}
	3% {
		opacity: 0.2;
	}
	5% {
		opacity: 0.2;
	}
	7% {
		opacity: 0.2;
	}
	8% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.2;
	}
	12% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}

@keyframes blink-glitch {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0.2;
	}
	3% {
		opacity: 0.2;
	}
	5% {
		opacity: 0.2;
	}
	7% {
		opacity: 0.2;
	}
	8% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.2;
	}
	12% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}

.header_list {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	z-index: 10;
}

.header_item {
	width: 100px;
	height: 100px;
	opacity: 0;
	-webkit-animation: show-glitch 2s ease-in-out forwards 3s;
	animation: show-glitch 2s ease-in-out forwards 3s;
}

.header_img {
	display: block;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
	position: relative;
}

@-webkit-keyframes show-glitch {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0.4;
	}
	10% {
		opacity: 0.2;
	}
	15% {
		opacity: 0.6;
	}
	20% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

@keyframes show-glitch {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0.4;
	}
	10% {
		opacity: 0.2;
	}
	15% {
		opacity: 0.6;
	}
	20% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

.header_img.header_img__bounce:hover {
	transform: translate(0, -20px);
}

.header_img:not(:hover) {
	-webkit-animation: bounce-out 0.8s ease-in-out;
	animation: bounce-out 0.8s ease-in-out;
}

@-webkit-keyframes bounce-out {
	0% {
		-webkit-transform: translateY(-25px) scale(1);
		transform: translateY(-25px) scale(1);
	}

	10% {
		-webkit-transform: translateY(-25px) scale(1.1);
		transform: translateY(-25px) scale(1.1);
	}

	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
	}

	75% {
		-webkit-transform: translateY(-10px) scale(1.05);
		transform: translateY(-10px) scale(1.05);
	}

	100% {
		-webkit-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
	}
}

@keyframes bounce-out {
	0% {
		transform: translateY(-25px) scale(1);
	}
	10% {
		transform: translateY(-25px) scale(1.1);
	}
	40% {
		transform: scale(1)
	}
	50% {
		transform: translateY(0) scale(1);
	}
	75% {
		transform: translateY(-10px) scale(1.05);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

.main {
	max-width: 1920px;
}

.content {
	margin: 0 auto;
}

/* porfolio */

.porfolio {
	padding-bottom: 22px;
	padding-top: 230px;
}

.porfolio_list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 20px;
}

.porfolio_item {
	position: relative;
	border: 1px solid rgba(192, 11, 41, 0.5);
	width: 520px;
	height: 328px;
	overflow: hidden;
	box-shadow: 0 0 30px 3px rgba(56, 73, 208, 0.2);
	transition: transform 0.3s ease;
}

.porfolio_item:hover {
	-webkit-animation: scale-animation 0.5s ease-in-out forwards;
	animation: scale-animation 0.5s ease-in-out forwards;
}

@-webkit-keyframes scale-animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(3px);
		filter: blur(3px);
	}

	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	100% {
		-webkit-filter: blur(0);
		filter: blur(0);
		-webkit-transform: scale(1.02);
		transform: scale(1.02);
	}
}

@keyframes scale-animation {
	0% {
		transform: scale(1);
		filter: blur(3px);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		filter: blur(0);
		transform: scale(1.02);
	}
}

.porfolio_item__new {
	position: relative;
	overflow: visible;
}

.porfolio_item__new img {
	transform: scale(1.1);
}

.porfolio_item__new::after {
	content: "";
	position: absolute;
	top: -20px;
	right: -20px;
	width: 60px;
	height: 60px;
	background-image: url(./img/new.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 100;
}

.porfolio_img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.28);
	transform-origin: center;
}

.porfolio_link::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(to top,
			transparent,
			transparent 10px,
			rgba(255, 0, 0, 0.5) 5px,
			rgba(255, 0, 0, 0.5) 20px);
	background-size: 100% 120%;
	background-position: 0 100%;
	opacity: 0;
	pointer-events: none;
}

.porfolio_link:hover::after {
	-webkit-animation: vertical-stripes 0.3s linear;
	animation: vertical-stripes 0.3s linear;
}

@-webkit-keyframes vertical-stripes {
	0% {
		opacity: 1;
		background-position: 0 0;
	}

	99% {
		background-position: 0 100%;
	}

	100% {
		opacity: 0;
	}
}

@keyframes vertical-stripes {
	0% {
		opacity: 1;
		background-position: 0 0;
	}

	99% {
		background-position: 0 100%;
	}

	100% {
		opacity: 0;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 38px;
	width: fit-content;
	margin: 0 auto;
	margin-top: 20px;
	padding: 6px;
	border: 1px solid rgba(192, 11, 41, 0.5);
	border-radius: 10px;
}

.pagination_button {
	border: 1px solid rgba(192, 11, 41, 0.1);
	border-radius: 4px;
	padding: 10px;
	background-color: rgba(192, 11, 41, 0.1);
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 18px;
	color: #c00b29;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
	;
}

.pagination_button:hover {
	background-color: rgba(192, 11, 41, 0.3);
	transform: scale(1.1);
}

.pagination__list {
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.pagination_number {
	background-color: transparent;
	border: 1px solid rgba(192, 11, 41, 0.2);
	border-radius: 4px;
	padding: 9px 14.8px;
	box-shadow: 0 0 20px 0 rgba(192, 11, 41, 0.25);
	cursor: pointer;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.75);
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination_number:hover {
	background-color: rgba(192, 11, 41, 0.3);
	transform: scale(1.1);
}

/* about */

.about {
	padding-bottom: 30px;
	padding-right: 160px;
	padding-left: 160px;
}

.about_wrap {
	background-image: url('./img/16x9v1.png');
	background-position: -65px -13px;
	background-repeat: no-repeat;
	background-size: 54%;
}

.about_list {
	padding-left: 935px;
	padding-top: 67px;
}

.about_item {
	font-family: var(--font-family);
	font-style: italic;
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	background: linear-gradient(90deg, #fefcff 0%, rgba(254, 252, 255, 0.3) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	padding-left: 70px;
	margin-bottom: 23px;
}

.about_item__max {
	margin-bottom: 41px;
}

.about_item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	background-image: url(./img/marker.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.about_item::marker {
	content: none;
}

/* footer */

.footer {
	padding-bottom: 60px;
}

.footer_wrap {
	padding-right: 160px;
	padding-left: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.corason-footer_link {
	position: relative;
	display: block;
	margin-bottom: 5px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	text-align: center;
	color: #7ce3fa;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.5s ease;
}

.corason-footer_link::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -100%;
	width: 200%;
	height: 200%;
	background: linear-gradient(0deg,
			transparent,
			transparent 30%,
			rgba(0, 255, 255, 0.3));
	transform: rotate(-45deg);
	transition: all 0.5s ease;
	opacity: 0;
}

.corason-footer_link:hover {
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 15px;
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.corason-footer_link:hover::before {
	opacity: 1;
	transform: rotate(-45deg) translateY(280%);
}

.corason-footer_link span {
	display: inline-block;
	-webkit-animation: wave 2s ease-in-out infinite;
	animation: wave 2s ease-in-out infinite;
}

.corason-footer_link span:nth-child(1) {
	animation-delay: 0s;
}

.corason-footer_link span:nth-child(2) {
	animation-delay: 0.2s;
}

.corason-footer_link span:nth-child(3) {
	animation-delay: 0.4s;
}

.corason-footer_link span:nth-child(4) {
	animation-delay: 0.6s;
}

.corason-footer_link span:nth-child(5) {
	animation-delay: 0.8s;
}

.corason-footer_link span:nth-child(6) {
	animation-delay: 1s;
}

.corason-footer_link span:nth-child(7) {
	animation-delay: 1.2s;
}

.corason-footer_link span:nth-child(8) {
	animation-delay: 1.4s;
}

.corason-footer_link span:nth-child(9) {
	animation-delay: 1.6s;
}

.corason-footer_link span:nth-child(10) {
	animation-delay: 1.8s;
}

.corason-footer_link span:nth-child(11) {
	animation-delay: 2s;
}

@-webkit-keyframes wave {

	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}

@keyframes wave {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2px);
	}
}


.footer_list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.footer_item {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.footer_item:hover {
	transform: scale(1.5);
	-webkit-animation: footer-blink-glitch 3s linear infinite;
	animation: footer-blink-glitch 3s linear infinite;
}

@-webkit-keyframes footer-blink-glitch {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0.2;
	}
	3% {
		opacity: 0.3;
	}
	5% {
		opacity: 0.2;
	}
	7% {
		opacity: 0.4;
	}
	8% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.6;
	}
	12% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes footer-blink-glitch {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0.2;
	}
	3% {
		opacity: 0.3;
	}
	5% {
		opacity: 0.2;
	}
	7% {
		opacity: 0.4;
	}
	8% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.6;
	}
	12% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.footer_right {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1192px;
	overflow: hidden;
}

.footer_item__youtube {
	background-image: url(./img/youtubeMin.svg);
}

.footer_item__telegram {
	background-image: url(./img/telegramMin.svg);
}

.footer_item__discord {
	background-image: url(./img/discordMin.svg);
}

.unreal-footer_list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	padding: 20px 43px;
	-webkit-animation: scroll-left 20s linear infinite;
	animation: scroll-left 20s linear infinite;
}

.unreal-footer_item {
	width: 150px;
	height: 83px;
	background-image: url(./img/icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	white-space: nowrap;
}

.footer_right:hover .unreal-footer_list {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.container__footer {
	display: flex;
	padding: 24px 128px;
	justify-content: space-between;
	align-items: center;
}

.footer__text {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 112%;
	text-align: center;
	color: var(--white);
}

.footer__link {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	text-align: center;
	color: var(--brand-1);
}

@media (max-width: 1919px) {
	.header {
		padding-top: calc(812px - ((812 - 258) * (1920px - 100vw) / (1920 - 440)));
	}

	.header_item {
		width: calc(100px - ((100 - 50) * (1920px - 100vw) / (1920 - 440)));
		height: calc(100px - ((100 - 50) * (1920px - 100vw) / (1920 - 440)));
	}

	.porfolio {
		padding-top: calc(258px - ((258 - 70) * (1920px - 100vw) / (1920 - 440)));
	}

	.porfolio_item {
		width: calc(520px - ((520 - 195) * (1920px - 100vw) / (1920 - 440)));
		height: auto;
	}

	.about_list {
		padding-left: calc(935px - ((935 - 1) * (1920px - 100vw) / (1920 - 440)));
	}

	.footer_right {
		width: calc(1192px - ((1192 - 440) * (1920px - 100vw) / (1920 - 440)));
	}
}

@media (max-width: 1600px) {
	.footer_wrap {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer_left {
		margin-bottom: 30px;
	}

	.footer_list {
		justify-content: center;
	}

	.footer_right {
		width: 100%;
	}

	.unreal-footer_list {
		gap: 90px;
	}
}

@media (max-width: 1024px) {
	.header_list {
		gap: 10px;
	}

	.about {
		padding: 20px;
	}

	.about_list {
		padding-left: 0;
		padding-top: calc(780px - ((780 - 363) * (1024px - 100vw) / (1024 - 440)));
	}

	.about_wrap {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.footer_wrap {
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 768px) {
	.container__footer {
		padding-right: 20px;
		padding-left: 20px;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}
}

@media (max-width: 576px) {
	.pagination {
		margin-top: 30px;
	}

	.pagination_button {
		font-size: 16px;
	}

	.pagination_number {
		font-size: 16px;
		padding: calc(9px - ((9 - 5) * (576px - 100vw) / (576 - 440))) calc(14.8px - ((14.8 - 10) * (576px - 100vw) / (576 - 440)));
		height: auto;
	}

	.about_item {
		font-size: 20px;
	}
}